* {
    box-sizing: border-box;
}


#textLOGO{
    animation: blinker 2s linear infinite;
}
@keyframes blinker {
    50%{
        opacity: 0;
    }
}
body {
    display: grid;
    color: Background;
    background-color: #49274a;
    grid-template-columns: minmax(670px, 100%);
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: minmax(170px, 20%) minmax(500px, 80%);
    grid-template-rows: minmax(80em, 100%);
    height: 100%;
    width: 100%;
    background-color: #f4decb;
    color: black;
    /* only for demonstration, should be removed */
    font-family: 'Josefin Sans', serif;
}

.left {
    text-align: left;
    color: Background;
}

header {
    display: grid;
    grid-template-columns: minmax(500px, 100%);
    width: 100%;
    background-color: #49274a;
    color: black;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    font-family: 'Josefin Sans', serif;
}


footer {
    display: grid;
    height: 30px;
    width: 100%;
    background-color: #49274a;
    color: black;
    text-align: center;

    font-family: 'Josefin Sans', serif;
}

.articleArt {
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 80%;
    background-color: #f4decb;
    color: black;
    display: block;
    /* only for demonstration, should be removed */
    font-family: 'Josefin Sans', serif;
}

.articleArt2 {
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #f4decb;
    color: black;
    /* only for demonstration, should be removed */
    font-family: 'Josefin Sans', serif;
}


nav {
    padding: 20px;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #94618e;
    color: black;
    font-family: 'Josefin Sans', serif;
}

nav ul {
    list-style-type: none;
    padding: 20px;
}


.headerGrid {
    display: grid;
    grid-template-columns: minmax(170px, 1fr) minmax(200px, 3fr) 0.5fr;
}

.home{
    display: flex;
    justify-content: center;
    align-content: stretch;
}
.HomeButtons {
    margin-top: 100px;
    margin-right: 135px;
    grid-template-rows: 1fr 1fr;

}


.container {
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    font-family: 'Josefin Sans', serif;
}

img {
    flex-shrink: 10;
}

.button {
    text-align: center;
    border: none;
    background-color: #f4decb;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    cursor: pointer;
    font-family: 'Josefin Sans', serif;
    min-width: 100px;
    min-height: 20px;
    color: black;
}

.button:hover {
    background-color: #94618e;
}

.side {
    background-color: #f4decb;
    display: inline-block;
    width: 15vw;
    color: black;
    border: 2px solid #49274a;
    font-size: large;
}


.button6 {

    color: #f4decb;
    background-color: #49274a;
}

.button7 {
    color: #f4decb;
    background-color: #49274a;
}

.footer > a {
    color: #f4decb;
}

.bread {
    font-size: large;
    color: #f4decb;
}

form {
    top: 20px;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textLogo {
    display: block;
    position: sticky;
    top: 100%;

}

#steps {
    position: relative;
    top: 20%;
    text-align: center;
}

.input {
    font-size: 2.5vmin;
}

.pic {
    margin: 10px;
}

.player {
    margin-right: 20px;
}

.forumLines {
    display: grid;
    font-size: large;
}

.forumLines > div {
    border: 2px solid #49274a;
    border-radius: 5px;
    background-color: #F2E0F7;
    padding: 1em;
    color: #94618e;
}

.pages {
    padding-top: 30px;
    text-align: center;
    bottom: 10px;
}

.footer > a {
    background-color: #49274a;
    color: #f4decb;
}

h2 {
    font-size: large;
}

h3 {
    font-size: large;
}

.profil {
    font-size: large;
}

.search {
    font-size: large;
}

a {
    font-size: large;
}

#table, #table2, #store, #store2 {
    border: 2px double #49274a;
    text-align: center;

}

table > th, td, tr {
    border: 1px solid #94618e;
    padding: 10vm;
    padding-bottom: 20px;
    font-size: large;

}

/* Add a black background color to the top navigation */
.topnav {
    background-color:  #94618e;
    color: black;
    overflow: hidden;
    border: 2px solid #94618e;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #94618e;
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #49274a;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

@media screen and (max-width: 1050px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width:1050px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        color: #f4decb;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

}