* {
    box-sizing: border-box;
}

@media (max-width: 1200px) {
    html {
        font-size: 16px;
    }
}
*, body, button, html, input, select, textarea {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    overflow: hidden;
    display: block;
}
html{
    display: block;
}
html::-webkit-scrollbar {
    width: 30px;
    height: 30px;
}

html {
    --maxWidth: 1284px;
    --minWidth: 1000px;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

.articleArt {
    padding: 40px;
    text-align: center;
    width: 100%;
    height: 80em;
    background-color: #f4decb;
    /* only for demonstration, should be removed */
    font-family: 'Josefin Sans', serif;
}
.articleArt2{
    padding: 20px;
    width: 100%;
    height: 100%;
    height: 80em;
    background-color: #f4decb;
    /* only for demonstration, should be removed */
    font-family: 'Josefin Sans', serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

header {
    display: grid;
    width: 100%;
    background-color: #49274a;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    font-family: 'Josefin Sans', serif;
}

main {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100%;
    width: 100%;
    background-color: #f4decb;
}

footer {
    display: grid;
    height: 30px;
    width: 100%;
    background-color: #49274a;
    text-align: center;

    font-family: 'Josefin Sans', serif;
}

nav {
    padding: 20px;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #94618e;

    font-family: 'Josefin Sans', serif;
}

nav ul {
    list-style-type: none;
    padding: 20px;
}

.headerGrid {
    display: grid;
    grid-template-columns: 1fr 3fr 0.5fr;
}

.HomeButtons {
    display: grid;
    grid-template-rows: 2fr 1fr;

}
.container {
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    font-family: 'Josefin Sans', serif;
}

.button {
    text-align: center;
    border: none;
    background-color: #f4decb;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Josefin Sans', serif;
    min-width: 80px;
    min-height: 20px;
    color: black;
}
.button:hover{
    background-color: #94618e;
}
.side {
    background-color: #f4decb;
    width: 90%;
    color: black;
    border: 2px solid #49274a;
}

.button1 {
    padding: 10px 50px;
    margin-left: 20px;
}

.button2 {
    padding: 10px 50px;
}

.button3 {
    padding: 10px 50px;
}

.button4 {
    padding: 10px 50px;
}

.button5 {
    padding: 10px 50px;
}

.button6 {

    color: #f4decb;
    background-color: #49274a;
}

.button7 {
    color: #f4decb;
    background-color: #49274a;
}

a {
    color: #f4decb;
}


form {
    top: 20px;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.textLogo{
    display: block;
    position: sticky;
    top:100%;

}
#steps{
    position: relative;
    top:20%;
    text-align: center;
}

.input{
    font-size: 16px;
}
.pic{
    margin: 10px;
}

.player{
    margin-right: 20px;
}


.profil {
    font-size: x-large;
}
.forumLines{
    display: grid;
}
.forumLines > div {
    border: 2px solid #49274a;
    border-radius: 5px;
    background-color: #F2E0F7;
    padding: 1em;
    color: #94618e;
}
.pages{
    padding-top: 30px;
    text-align: center;
    bottom: 10px;
}
.buttons > a{
    color: #49274a;
}